<body class="listing_index_body2">
  <body>

	<div>


		<input checked id="one" name="multiples" type="radio" value="1">
        <label for="one">1</label>

		<input id="two" name="multiples" type="radio" value="2">
        <label for="two">2</label>

        <input id="three" name="multiples" type="radio" value="3">
        <label for="three">3</label>

        <input id="four" name="multiples" type="radio" value="4">
        <label for="four">4</label>

        <input id="five" name="multiples" type="radio" value="5">
        <label for="five">5</label>

        <input id="six" name="multiples" type="radio" value="6">
        <label for="six">6</label>

        <input id="seven" name="multiples" type="radio" value="7">
        <label for="seven">7</label>

        <input id="eight" name="multiples" type="radio" value="8">
        <label for="eight">8</label>

		<div class="container">
			<div class="carousel prices">

        <% @hotel[0..7].each do |x| %>
				<img src="http://thetaleoftwotings.com/wp-content/uploads/2014/01/P1160797.jpg" alt="Landscape 3">
				<img src="https://businessfirstfamily.com/wp-content/uploads/2017/02/luxury-retreats-acquired-airbnb.jpg" alt="Landscape 2">
				<img src="https://a0.muscache.com/im/pictures/9154330/a0700176_original.jpg?aki_policy=xx_large" alt="Landscape 1">
				<img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/13133201_619510394864844_3333733000320571527_n.jpg?oh=76bb4a3ed4c211b3472119cfbb231507&oe=5A315217" alt="Landscape 4">
				<img src="http://blog.tortugabackpacks.com/wp-content/uploads/2017/06/airbnb-alternatives.jpg" alt="Landscape 5">
				<img src="http://needwant.com/wp-content/uploads/2013/11/2013-04-12-16.58.50-2.jpg" alt="Landscape 6">
				<img src="http://www.cpp-luxury.com/wp-content/uploads/2017/06/Public-Hotel-New-York-Ian-Schrager.jpg" alt="Landscape 7">
				<img src="https://media.cntraveler.com/photos/56e31b19c3ce11fb6b06be36/master/pass/one-fine-stay-bedroom-interior.png" alt="Landscape 8">


			</div>
		</div>

	</div>

</body>
</body>
