<body class="event_show_container">
    <main style="background-color:pink;">
        <div class="listing-picture">
           <div class="video-background" style="background-image: url(http://d3s4rtoucjtwa6.cloudfront.net/wp-content/uploads/2017/07/16194359/35916775136_ef532a42d6_k.jpg)">
                <div class="video-foreground" style="">
                    <iframe id="player" data-video="https://www.youtube.com/watch?v=6jp_AOPobOU" allowfullscreen="1" title="YouTube video player" src="https://www.youtube.com/embed/6jp_AOPobOU?autoplay=1&amp;controls=0&amp;autohide=1&amp;wmode=opaque&amp;showinfo=0&amp;loop=1&amp;mute=1&amp;playlist=6jp_AOPobOU&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fgeorgetownfestival.com&amp;widgetid=1"  width="640" height="360" frameborder="0"></iframe>
                </div>
            <div class="video-overlay"></div>

            <div class="event_show_container2">
                <div class="parallax_stuff_1">
                    <div class="bgimg-1">
                      <div class="caption">
                        
                      </div>
                    </div>

                    <div style="color: #FAFAD2;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
                      <h3 style="text-align:center;">Parallax Demo</h3>
                      <p>Parallax scrolling is a web site trend where the background content is moved at a different speed than the foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
                    </div>

                    <div class="bgimg-3">
                      <div class="caption">
                        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">
                            <div>
                                
                            </div>
                        </span>
                      </div>
                    </div>

                    <div style="position:relative;">
                      <div style="color:#FAFAD2;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
                        <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
                      </div>
                    </div>

                    <div class="bgimg-1">
                      <div class="caption">
                    
                      </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>
