<html class="home_html">
  <body class="home_show_background ">

    <div class="container1">
      <!-- Center text  -->
      <div class="splash__center">
        <h1 class="splash__title">Travel like a champion</h1>
        <h3 style="color:white;margin-left:6px;margin-top:11px;">Stress-free trips to your games or sporting events</h3>
        <br>
        <%= button_to "Get Started", new_session_path, class: "splash__btn", method: :get, style:"background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); "%> 

      </div>
    </div>

  </body>
</html>
