<html class="home_html">
  <body class="home_show_background ">

    <div class="container1">
      <!-- Center text  -->
      <div class="splash__center">
        <h1 class="splash__title">Travel like a champion</h1>
        <h3 style="color:white;margin-left:6px;margin-top:11px;">Plan your stay near your game or event</h3>
        <br>
        <button class="splash__btn"><%= link_to "Get Started", new_session_path, :style=>"text-decoration:none; color:white;"%></button>
      </div>
    </div>

  </body>
</html>
