<div class="body">
	<main id="site-content" role="main" tabindex="-1">
		<div date-reactid = '1'>
			<div class="headerController" data-reactid="2">
  <header role="banner" class="container_1">
    <div class="content_1">
      <div class=container_1a>
        <div class="child_1ai">
          <div>
            <div class="logoContainer">
              <div>
                <a href="/" class="container_link_1" aria-label="Airbnb homepage">
                  <div class="content_2">
                    <div class="logo_36rlri" data-reactid="12">
                      <div class="icon_iiid5y" data-reactid="13">
                        <svg viewBox="0 0 1000 1000" role="presentation" aria-hidden="true" focusable="false" style="display:block;fill:#FF5A5F;height:1em;width:1em;" data-reactid="14"   font-size: 34px;>
                          <path d="M499.3 736.7c-51-64-81-120.1-91-168.1-10-39-6-70 11-93 18-27 45-40 80-40s62 13 80 40c17 23 21 54 11 93-11 49-41 105-91 168.1zm362.2 43c-7 47-39 86-83 105-85 37-169.1-22-241.1-102 119.1-149.1 141.1-265.1 90-340.2-30-43-73-64-128.1-64-111 0-172.1 94-148.1 203.1 14 59 51 126.1 110 201.1-37 41-72 70-103 88-24 13-47 21-69 23-101 15-180.1-83-144.1-184.1 5-13 15-37 32-74l1-2c55-120.1 122.1-256.1 199.1-407.2l2-5 22-42c17-31 24-45 51-62 13-8 29-12 47-12 36 0 64 21 76 38 6 9 13 21 22 36l21 41 3 6c77 151.1 144.1 287.1 199.1 407.2l1 1 20 46 12 29c9.2 23.1 11.2 46.1 8.2 70.1zm46-90.1c-7-22-19-48-34-79v-1c-71-151.1-137.1-287.1-200.1-409.2l-4-6c-45-92-77-147.1-170.1-147.1-92 0-131.1 64-171.1 147.1l-3 6c-63 122.1-129.1 258.1-200.1 409.2v2l-21 46c-8 19-12 29-13 32-51 140.1 54 263.1 181.1 263.1 1 0 5 0 10-1h14c66-8 134.1-50 203.1-125.1 69 75 137.1 117.1 203.1 125.1h14c5 1 9 1 10 1 127.1.1 232.1-123 181.1-263.1z" data-reactid="15"></path>
                        </svg>
                      </div>
                    </div>  
                    <div class="menuIndicator_t7nb5l" data-reactid="16">
                      <div class="iconWrapper_d5depq" style="transform:rotate(0deg);" data-reactid="17">
                        <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="display:block;fill:currentColor;height:1em;width:1em;" data-reactid="18">
                          <path fill-rule="evenodd" d="M16.291 4.295a1 1 0 1 1 1.414 1.415l-8 7.995a1 1 0 0 1-1.414 0l-8-7.995a1 1 0 1 1 1.414-1.415l7.293 7.29 7.293-7.29z" data-reactid="19"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </a>
                <button aria-label="Main navigation menu" aria-haspopup="true" class="container_button_1">
                  <div class="content_1f3r7p5" data-reactid="21">
                    <div class="logo_36rlri" data-reactid="22">
                      <div class="icon_iiid5y" data-reactid="23">
                        <svg viewBox="0 0 1000 1000" role="presentation" aria-hidden="true" focusable="false" style="display:block;fill:currentColor;height:1em;width:1em;" data-reactid="24">
                          <path d="M499.3 736.7c-51-64-81-120.1-91-168.1-10-39-6-70 11-93 18-27 45-40 80-40s62 13 80 40c17 23 21 54 11 93-11 49-41 105-91 168.1zm362.2 43c-7 47-39 86-83 105-85 37-169.1-22-241.1-102 119.1-149.1 141.1-265.1 90-340.2-30-43-73-64-128.1-64-111 0-172.1 94-148.1 203.1 14 59 51 126.1 110 201.1-37 41-72 70-103 88-24 13-47 21-69 23-101 15-180.1-83-144.1-184.1 5-13 15-37 32-74l1-2c55-120.1 122.1-256.1 199.1-407.2l2-5 22-42c17-31 24-45 51-62 13-8 29-12 47-12 36 0 64 21 76 38 6 9 13 21 22 36l21 41 3 6c77 151.1 144.1 287.1 199.1 407.2l1 1 20 46 12 29c9.2 23.1 11.2 46.1 8.2 70.1zm46-90.1c-7-22-19-48-34-79v-1c-71-151.1-137.1-287.1-200.1-409.2l-4-6c-45-92-77-147.1-170.1-147.1-92 0-131.1 64-171.1 147.1l-3 6c-63 122.1-129.1 258.1-200.1 409.2v2l-21 46c-8 19-12 29-13 32-51 140.1 54 263.1 181.1 263.1 1 0 5 0 10-1h14c66-8 134.1-50 203.1-125.1 69 75 137.1 117.1 203.1 125.1h14c5 1 9 1 10 1 127.1.1 232.1-123 181.1-263.1z" data-reactid="25"></path>
                        </svg>
                      </div>
                    </div>
                  <div class="menuIndicator_t7nb5l" data-reactid="26">
                    <div class="iconWrapper_d5depq" style="transform:rotate(0deg);" data-reactid="27">
                      <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="display:block;fill:currentColor;height:1em;width:1em;" data-reactid="28">
                        <path fill-rule="evenodd" d="M16.291 4.295a1 1 0 1 1 1.414 1.415l-8 7.995a1 1 0 0 1-1.414 0l-8-7.995a1 1 0 1 1 1.414-1.415l7.293 7.29 7.293-7.29z" data-reactid="29"></path>
                      </svg>
                    </div>
                  </div>
                  </div>
                </button>
              </div>
              
            </div>
          </div>
          <div class="child_1g2dfiu-o_O-child_middle_zdxht7-o_O-child_alignMiddle_13gjrqj" data-reactid="33"></div>
        </div>
        <div class="child_1g2dfiu-o_O-child_middle_zdxht7-o_O-child_alignMiddle_13gjrqj" data-reactid="33">
        	<div class="searchBar_hgnicv" data-reactid="34">
        		<form action="/s" class="container_15zpre8">
        			<div>
        				<div>
        					<input placeholder="Search" autocomplete="off" name="location" aria-label="Search" class="input_1ge8ida" type="text">
        				</div><!-- react-empty: 2400 -->
        				<div class="icon_1pva0yh">
        					<svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="display: block; fill: currentcolor; height: 1em; width: 1em;">
        						<path d="M10.4 18.2c-4.2-.6-7.2-4.5-6.6-8.8.6-4.2 4.5-7.2 8.8-6.6 4.2.6 7.2 4.5 6.6 8.8-.6 4.2-4.6 7.2-8.8 6.6M23 22l-5-5c1.4-1.4 2.3-3.1 2.6-5.2.7-5.1-2.8-9.7-7.8-10.5-5-.7-9.7 2.8-10.5 7.9-.7 5.1 2.8 9.7 7.8 10.5 2.5.4 4.9-.3 6.7-1.7v.1l5 5c.3.3.8.3 1.1 0 .3-.3.4-.8.1-1.1" fill-rule="evenodd"></path>
        					</svg>
        				</div>
        			</div>
        			<input name="source" value="hdr" type="hidden">
        		</form>
        	</div>
        </div>
        <div class="child_1aii">
          <div class="navigationContainer_e9j1ad" data-reactid="35">
            <nav data-reactid="36" style="display:block;">
              <ul class="list_1s04l2o" data-reactid="37">
                <li class="item_1g2dfiu" data-reactid="38"><!-- react-empty: 39 --></li>
                <li class="item_1g2dfiu" data-reactid="40"><!-- react-empty: 41 --></li>
                <li class="item_1g2dfiu" data-reactid="42">
                  <div data-reactid="43">
                    <div class="container_e296pg" data-reactid="44">
                      <button type="button" class="link_cr2i2a1" aria-busy="false">
                        <div class="wrapper_yt6gx-o_O-underline_gughaz-o_O-underline_none_1azbnww">
                          <div class="content_1pdrjiz-o_O-underline_gughaz">    <!-- react-empty: 319 -->
                            <span>Become a Host</span>
                            <svg class="notification_l7gvu6">
                              <circle cx="3" cy="3" r="3"></circle>
                            </svg>
                          </div>
                        </div>
                      </button>
                      <div class="menu_1woac6s1">
                        <div class="container_1yvjit1">
                          <div class="content_bduc7g">
                            <ul role="tree" class="list_cdqs15">
                              <li role="treeitem"><!-- react-empty: 1860 --></li>
                              <li role="treeitem">
                                <a href="/host/homes?from_nav=1" class="container_dw0bgx-o_O-container_link_14kmas7">
                                <div class="content_odu5w2-o_O-content_baseline_wrro5b">
                                  <div class="container_2930ex">
                                    <div class="child_1g2dfiu-o_O-child_middle_zdxht7-o_O-child_alignMiddle_13gjrqj">
                                      <div class="text_5mbkop-o_O-size_small_1gg2mc-o_O-color_muted_10k87om">
                                        <span>Host a home</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                </a></li>
                              <li role="treeitem">
                                <a href="/co-hosting?ref=nav_dropdown" class="container_dw0bgx-o_O-container_link_14kmas7">
                                <div class="content_odu5w2-o_O-content_baseline_wrro5b">
                                  <div class="container_2930ex">
                                    <div class="child_1g2dfiu-o_O-child_middle_zdxht7-o_O-child_alignMiddle_13gjrqj">
                                      <div class="text_5mbkop-o_O-size_small_1gg2mc-o_O-color_muted_10k87om">No time to host?</div>
                                    </div>
                                  </div>
                                </div>
                                </a></li>
                              <li role="treeitem">
                                <a href="/host/experiences?from_nav=1" class="container_dw0bgx-o_O-container_link_14kmas7">
                                <div class="content_odu5w2-o_O-content_baseline_wrro5b">
                                  <div class="container_2930ex">
                                    <div class="child_1g2dfiu-o_O-child_middle_zdxht7-o_O-child_alignMiddle_13gjrqj">
                                      <div class="text_5mbkop-o_O-size_small_1gg2mc-o_O-color_muted_10k87om">
                                        <span>Host an experience</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                </a></li>
                            </ul>
                          </div>
                          <svg class="fang_yyjois" style="right: 53.5px;">
                            <path d="M0,10 20,10 10,0z" class="fangShape_1s2t3cl"></path>
                            <path d="M0,10 10,0 20,10" class="fangStroke_tjp8vr"></path>
                          </svg>
                        </div>
                      </div>

                    </div>
                  </div></li>
                <li class="item_1g2dfiu" data-reactid="52">
                  <div data-reactid="53">
                    <div class="container_e296pg" data-reactid="54">
                      <button type="button" class="link_cr2i2a2" aria-busy="false" data-reactid="55">
                        <div class="wrapper_yt6gx-o_O-underline_gughaz-o_O-underline_none_1azbnww" data-reactid="56">
                          <div class="content_1pdrjiz-o_O-underline_gughaz" data-reactid="57">
                            <span data-reactid="58">Help</span>
                            <svg class="notification_l7gvu6" data-reactid="59">
                              <circle cx="3" cy="3" r="3" data-reactid="60"></circle>
                            </svg>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div></li>
                <% if !current_user %>
                <li class="item_1g2dfiu" data-reactid="61">
                  <div data-reactid="62">
                    <div class="container_e296pg" data-reactid="63">
                      <button type="button" class="link_cr2i2a3" aria-busy="false"data-reactid="64">
                        <div class="wrapper_yt6gx-o_O-underline_gughaz-o_O-underline_none_1azbnww1" data-reactid="65">
                          <div class="content_1pdrjiz-o_O-underline_gughaz" data-reactid="66">
                            <span data-reactid="67">Sign Up</span>
                            <svg class="notification_l7gvu6" data-reactid="68">
                              <circle cx="3" cy="3" r="3" data-reactid="69"></circle>
                            </svg>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div></li>
                <li class="item_1g2dfiu" data-reactid="70">
                  <div data-reactid="71">
                    <div class="container_e296pg" data-reactid="72">
                      <button type="button" class="link_cr2i2a4" aria-busy='false' data-reactid="73">
                        <div class="wrapper_yt6gx-o_O-underline_gughaz-o_O-underline_none_1azbnww2" data-reactid="74">
                          <div class="content_1pdrjiz-o_O-underline_gughaz" data-reactid="75">
                            <span data-reactid="76">Log In</span>
                            <svg class="notification_l7gvu6" data-reactid="77">
                              <circle cx="3" cy="3" r="3" data-reactid="78"></circle>
                            </svg>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                </li>
                <% end %>
                <% if !current_user %>
                <li class="item_1g2dfiu">
                  <div>
                    <div class="container_e296pg">
                      <button type="button" class="link_cr2i2a5" aria-busy="false">
                        <div class="wrapper_yt6gx-o_O-underline_gughaz-o_O-underline_none_1azbnww">
                          <div class="content_1pdrjiz-o_O-underline_gughaz">
                            <div class="avatar_1r3wpux">
                              <img alt="Sean" src="https://a0.muscache.com/defaults/user_pic-50x50.png?v=3" class="image_1pa4v1p" width="28" height="28">
                            </div>
                            <svg class="notification_l7gvu6">
                              <circle cx="3" cy="3" r="3"></circle>
                            </svg>
                          </div>
                        </div>
                      </button>
                      <div class="menu_1woac6s5">
						  <div class="container_1yvjit1">
						    <div class="content_bduc7g">
						      <ul role="tree" class="list_cdqs15">
						        <li role="treeitem">
						          <a href="#" class="container_dw0bgx-o_O-container_link_14kmas7">
						            <div class="content_odu5w2-o_O-content_baseline_wrro5b">
						              <div class="container_2930ex">
						                <div class="child_1g2dfiu-o_O-child_middle_zdxht7-o_O-child_alignMiddle_13gjrqj">
						                  <div class="text_5mbkop-o_O-size_small_1gg2mc-o_O-color_muted_10k87om">
						                    <span>Edit Profile</span>
						                  </div>
						                </div>
						              </div>
						            </div>
						          </a>
						        </li>
						        <li role="treeitem">
						          <a href="/invite?r=50" class="container_dw0bgx-o_O-container_link_14kmas7">
						            <div class="content_odu5w2-o_O-content_baseline_wrro5b">
						              <div class="container_2930ex">
						                <div class="child_1g2dfiu-o_O-child_middle_zdxht7-o_O-child_alignMiddle_13gjrqj">
						                  <div class="text_5mbkop-o_O-size_small_1gg2mc-o_O-color_muted_10k87om">Travel Credit</div>
						                </div>
						              </div>
						            </div>
						          </a>
						        </li>
						        <li role="treeitem">
						          <a href="/users/notifications" class="container_dw0bgx-o_O-container_link_14kmas7">
						            <div class="content_odu5w2-o_O-content_baseline_wrro5b">
						              <div class="container_2930ex">
						                <div class="child_1g2dfiu-o_O-child_middle_zdxht7-o_O-child_alignMiddle_13gjrqj">
						                  <div class="text_5mbkop-o_O-size_small_1gg2mc-o_O-color_muted_10k87om">
						                    <span>Account Settings</span>
						                  </div>
						                </div>
						              </div>
						            </div>
						          </a>
						        </li>
						        <li role="treeitem">
						          <a href="/things-to-do" class="container_dw0bgx-o_O-container_link_14kmas7">
						            <div class="content_odu5w2-o_O-content_baseline_wrro5b">
						              <div class="container_2930ex">
						                <div class="child_1g2dfiu-o_O-child_middle_zdxht7-o_O-child_alignMiddle_13gjrqj">
						                  <div class="text_5mbkop-o_O-size_small_1gg2mc-o_O-color_muted_10k87om">
						                    <span>My Guidebook</span>
						                  </div>
						                </div>
						              </div>
						            </div>
						          </a>
						        </li>
						        <li role="treeitem">
						          	<%= form_tag '/sign_out', method: :delete do %>
						                  
							            <div class="content_odu5w2-o_O-content_baseline_wrro5b">
							              <div class="container_2930ex">
							                <div class="child_1g2dfiu-o_O-child_middle_zdxht7-o_O-child_alignMiddle_13gjrqj">
							                  <div class="text_5mbkop-o_O-size_small_1gg2mc-o_O-color_muted_10k87om">
							                    <span><input class="Logoff" type=submit value="Log Out"></span>
							                  </div>
							                </div>
							              </div>
							            </div>
						            
						            <% end %>
						          
						        </li>
						      </ul>
						    </div>
						    <svg class="fang_yyjois" style="right: 20px;">
						      <path d="M0,10 20,10 10,0z" class="fangShape_1s2t3cl"></path>
						      <path d="M0,10 10,0 20,10" class="fangStroke_tjp8vr"></path>
						    </svg>
						  </div>
						</div>
					</div>
				</main>
			</div>


                    </div>
                  </div>
                </li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="moveableDiv_52hdgz-o_O-moveableDiv_withTabs_1qgym2a" data-reactid="79">
    <div class="searchBarWrapper_kzf5qr" data-reactid="80">
      <div class="container_puzkdo" data-reactid="81"><!-- react-empty: 324 -->
        <div>
          <div class="container_1mhi7sr">
            <div class="container_1tvwao0">
              <div class="container_mv0xzc" style="width: 33.3333%;"><!-- react-text: 329 --><!-- /react-text -->
                <button type="button" class="button_tus251">
                  <span class="icon_12hl23n">
                    <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="display: block; fill: currentcolor; height: 18px; width: 18px;">
                      <path d="M10.4 18.2c-4.2-.6-7.2-4.5-6.6-8.8.6-4.2 4.5-7.2 8.8-6.6 4.2.6 7.2 4.5 6.6 8.8-.6 4.2-4.6 7.2-8.8 6.6M23 22l-5-5c1.4-1.4 2.3-3.1 2.6-5.2.7-5.1-2.8-9.7-7.8-10.5-5-.7-9.7 2.8-10.5 7.9-.7 5.1 2.8 9.7 7.8 10.5 2.5.4 4.9-.3 6.7-1.7v.1l5 5c.3.3.8.3 1.1 0 .3-.3.4-.8.1-1.1" fill-rule="evenodd"></path>
                    </svg>
                  </span>
                  <span class="copy_14aozyc">
                    <span>Anywhere</span>
                  </span>
                </button>
                <div class="focusUnderline_tue2mi"></div>
              </div>
              <div class="container_mv0xzc-o_O-borderLeft_1ujj4hk-o_O-borderRight_1x9yfnn" style="width: 33.3333%;"><!-- react-text: 338 --><!-- /react-text -->
                <button type="button" class="button_tus251">
                  <span class="icon_12hl23n">
                    <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="display: block; fill: currentcolor; height: 18px; width: 18px;">
                      <path d="M22 9.5V3h-4.75V1a.75.75 0 1 0-1.5 0v2H8.249l.001-2a.75.75 0 1 0-1.5 0l-.001 2H2v19.008a1 1 0 0 0 .992.992h18.016a1 1 0 0 0 .992-.992V9.5zm-18.5-5h3.248V5a.75.75 0 0 0 1.5 0v-.5h7.502V5a.75.75 0 0 0 1.5 0v-.5h3.25V8h-17V4.5zm0 17v-12h17v12h-17z" fill-rule="evenodd"></path>
                    </svg>
                  </span>
                  <span class="copy_14aozyc">Anytime</span>
                </button>
                <div class="focusUnderline_tue2mi"></div>
              </div>
              <div class="container_mv0xzc" style="width: 33.3333%;"><!-- react-text: 346 --><!-- /react-text -->
                <div>
                  <button type="button" class="button_tus251">
                    <span class="icon_12hl23n">
                      <span class="icon_18ph2th">
                        <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="display: block; fill: currentcolor; height: 18px; width: 18px;">
                          <path d="M3.31 11.565c-.657.503-1.101.992-1.47 1.664-1.141 2.08-1.464 6.818-.199 8.523 1.302 1.755 2.688 2.154 6.542 2.154 2.814 0 4.703-1.003 5.166-3.427.16-.839.139-1.547-.013-2.588l-.055-.367c-.122-.797-.163-1.179-.16-1.662.01-1.547.733-2.278 2.623-3.239.555-.283.903-.854.901-1.476-.001-.468-.2-.842-.538-1.209a3.055 3.055 0 0 1-.48-.69c-.315-.618-.397-1.19-.388-1.977v-.123c0-1.648.812-2.646 2.161-2.646 1.35 0 2.16.998 2.16 2.646 0 1.037-.233 1.974-.987 2.79-.34.368-.538.74-.54 1.209a1.65 1.65 0 0 0 .904 1.476c1.869.952 2.601 1.693 2.634 3.25.009.405.022.767.049 1.366.109 2.45.06 3.222-.338 3.904-.474.809-1.603 1.24-3.89 1.263-1.194.012-1.64-.018-2.362-.184a.75.75 0 1 0-.335 1.462c.86.198 1.41.235 2.713.222 2.758-.028 4.371-.643 5.168-2.006.611-1.043.666-1.932.543-4.727-.027-.589-.04-.941-.048-1.331-.048-2.273-1.14-3.377-3.454-4.556a.15.15 0 0 1-.083-.135c0-.016.032-.077.141-.196.61-.66.996-1.43 1.204-2.265.14-.558.182-1.028.182-1.542 0-2.416-1.407-4.146-3.661-4.146s-3.66 1.73-3.66 4.146l-.001.108c-.01 1.01.1 1.788.55 2.673.188.368.425.712.716 1.027.108.117.14.178.14.196a.15.15 0 0 1-.082.134c-2.343 1.192-3.429 2.289-3.442 4.567-.003.585.044 1.026.177 1.897l.054.357c.13.89.146 1.448.023 2.09-.298 1.564-1.513 2.21-3.692 2.21-3.422 0-4.397-.282-5.337-1.549-.86-1.159-.578-5.29.309-6.907.26-.475.566-.811 1.067-1.195.291-.223 1.9-1.297 2.423-1.673.446-.321.71-.839.709-1.388l-.001-.15a1.755 1.755 0 0 0-.649-1.34C6.01 7.628 5.537 6.17 5.537 4.721c0-1.928 1.107-3.13 2.646-3.13s2.646 1.202 2.646 3.13c0 1.465-.458 2.913-1.144 3.481-.415.344-.65.836-.65 1.404a1.698 1.698 0 0 0 .922 1.519c.408.208.57.29.791.407a.75.75 0 1 0 .7-1.327c-.23-.12-.396-.206-.808-.416a.198.198 0 0 1-.106-.177c0-.123.034-.193.108-.254 1.1-.911 1.687-2.77 1.687-4.637 0-2.73-1.75-4.63-4.146-4.63s-4.146 1.9-4.146 4.63c0 1.85.606 3.724 1.71 4.637.07.059.106.13.106.193v.15a.204.204 0 0 1-.084.163c-.487.35-2.12 1.441-2.459 1.7z" fill-rule="evenodd"></path>
                        </svg>
                      </span>
                    </span>
                    <span class="copy_14aozyc">
                      <span>
                        <span>1 guest</span>
                      </span>
                    </span>
                  </button>
                </div>
                <div class="focusUnderline_tue2mi"></div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="container_e4p5a8"><!-- react-empty: 359 -->
            <form action="/s/all" method="get">
              <div class="container_1tvwao0">
                <div class="container_mv0xzc" style="width: 100%;"><!-- react-text: 363 --><!-- /react-text -->
                  <div>
                    <div class="container_gor68n">
                      <div>
                        <div class="container_e296pg">
                          <div class="container_36rlri-o_O-block_r99te6">
                            <label class="label_hidden_1m8bb6v" for="GeocompleteController-via-SearchBarLarge-via-HeaderController">Where</label>
                            <div class="container_ssgg6h-o_O-container_noMargins_18e9acw-o_O-container_small_1gg2mc-o_O-borderless_mflkgb-o_O-block_r99te6">
                              <div class="prefixContainer_ncmdki">
                                <div class="prefix_bp0th8-o_O-prefix_small_1ehemrr">
                                  <div>
                                    <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="display: block; fill: rgb(118, 118, 118); height: 18px; width: 18px;">
                                      <path d="M10.4 18.2c-4.2-.6-7.2-4.5-6.6-8.8.6-4.2 4.5-7.2 8.8-6.6 4.2.6 7.2 4.5 6.6 8.8-.6 4.2-4.6 7.2-8.8 6.6M23 22l-5-5c1.4-1.4 2.3-3.1 2.6-5.2.7-5.1-2.8-9.7-7.8-10.5-5-.7-9.7 2.8-10.5 7.9-.7 5.1 2.8 9.7 7.8 10.5 2.5.4 4.9-.3 6.7-1.7v.1l5 5c.3.3.8.3 1.1 0 .3-.3.4-.8.1-1.1" fill-rule="evenodd"></path>
                                    </svg>
                                  </div>
                                </div>
                              </div>
                              <div class="inputContainer_178faes">
                                <input autocomplete="off" class="input_70aky9-o_O-input_small_1swz3z6-o_O-input_book_f17nnd-o_O-input_ellipsis_1bgueul-o_O-input_fakeValuePlaceholder_u5du3w" id="GeocompleteController-via-SearchBarLarge-via-HeaderController" name="location" placeholder="Anywhere" value="" type="text">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="focusUnderline_tue2mi"></div>
                </div>
                <div class="container_mv0xzc-o_O-borderLeft_1ujj4hk-o_O-borderRight_1x9yfnn" style="width: 100%;"><!-- react-text: 380 --><!-- /react-text -->
                  <div class="webcot-lg-datepicker">
                    <div class="dateRangePicker_e296pg-o_O-hidden_ajz5vs">
                      <span class="icon_1e22qo5">
                        <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="display: block; fill: currentcolor; height: 18px; width: 18px;">
                          <path d="M22 9.5V3h-4.75V1a.75.75 0 1 0-1.5 0v2H8.249l.001-2a.75.75 0 1 0-1.5 0l-.001 2H2v19.008a1 1 0 0 0 .992.992h18.016a1 1 0 0 0 .992-.992V9.5zm-18.5-5h3.248V5a.75.75 0 0 0 1.5 0v-.5h7.502V5a.75.75 0 0 0 1.5 0v-.5h3.25V8h-17V4.5zm0 17v-12h17v12h-17z" fill-rule="evenodd"></path>
                        </svg>
                      </span>
                      <span class="best-cal-dates-experiment">
                        <div class="DateRangePicker">
                          <div>
                            <div class="DateRangePickerInput">
                              <div class="DateInput">
                                <input aria-label="Check In" class="DateInput__input needsclick" id="startDate" name="startDate" value="" placeholder="Check In" autocomplete="off" aria-describedby="DateInput__screen-reader-message-startDate" type="text">
                                <p id="DateInput__screen-reader-message-startDate" class="screen-reader-only">Press the down arrow key to interact with the calendar and select a date. Press the question mark key to get the keyboard shortcuts for changing dates.</p>
                                <div class="DateInput__display-text">Check In</div>
                              </div>
                              <div class="DateRangePickerInput__arrow" aria-hidden="true" role="presentation">–</div>
                              <div class="DateInput">
                                <input aria-label="Check Out" class="DateInput__input needsclick" id="endDate" name="endDate" value="" placeholder="Check Out" autocomplete="off" aria-describedby="DateInput__screen-reader-message-endDate" type="text">

                                <p id="DateInput__screen-reader-message-endDate" class="screen-reader-only">Press the down arrow key to interact with the calendar and select a date. Press the question mark key to get the keyboard shortcuts for changing dates.</p>

                                <div class="DateInput__display-text">Check Out</div>
                              </div>
                              <button type="button" aria-label="Clear Dates" class="DateRangePickerInput__clear-dates DateRangePickerInput__clear-dates--hide">
                                <div class="DateRangePickerInput__close-icon">
                                  <span>
                                    <svg viewBox="0 0 24 24" role="img" aria-label="Close" focusable="false" style="display: block; fill: currentcolor; height: 12px; width: 12px;">
                                      <path fill-rule="evenodd" d="M23.25 24a.744.744 0 0 1-.53-.22L12 13.062 1.28 23.782a.75.75 0 0 1-1.06-1.06L10.94 12 .22 1.28A.75.75 0 1 1 1.28.22L12 10.94 22.72.22a.749.749 0 1 1 1.06 1.06L13.062 12l10.72 10.72a.749.749 0 0 1-.53 1.28"></path>
                                    </svg>
                                  </span>
                                </div>
                              </button>
                            </div>
                          </div>
                        </div>
                      </span>
                    </div>
                    <div>
                      <button type="button" tabindex="-1" class="button_tus251">
                        <span class="icon_12hl23n">
                          <span class="icon_1e22qo5">
                            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="display: block; fill: currentcolor; height: 18px; width: 18px;">
                              <path d="M22 9.5V3h-4.75V1a.75.75 0 1 0-1.5 0v2H8.249l.001-2a.75.75 0 1 0-1.5 0l-.001 2H2v19.008a1 1 0 0 0 .992.992h18.016a1 1 0 0 0 .992-.992V9.5zm-18.5-5h3.248V5a.75.75 0 0 0 1.5 0v-.5h7.502V5a.75.75 0 0 0 1.5 0v-.5h3.25V8h-17V4.5zm0 17v-12h17v12h-17z" fill-rule="evenodd"></path>
                            </svg>
                          </span>
                        </span>
                        <span class="copy_14aozyc">Anytime</span>
                      </button>
                    </div>
                  </div>
                  <div class="focusUnderline_tue2mi"></div>
                </div>
                <div class="container_mv0xzc" style="width: 100%;"><!-- react-text: 397 --><!-- /react-text -->
                  <div>
                    <button type="button" class="button_tus251">
                      <span class="icon_12hl23n">
                        <span class="icon_18ph2th">
                          <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="display: block; fill: currentcolor; height: 18px; width: 18px;">
                            <path d="M3.31 11.565c-.657.503-1.101.992-1.47 1.664-1.141 2.08-1.464 6.818-.199 8.523 1.302 1.755 2.688 2.154 6.542 2.154 2.814 0 4.703-1.003 5.166-3.427.16-.839.139-1.547-.013-2.588l-.055-.367c-.122-.797-.163-1.179-.16-1.662.01-1.547.733-2.278 2.623-3.239.555-.283.903-.854.901-1.476-.001-.468-.2-.842-.538-1.209a3.055 3.055 0 0 1-.48-.69c-.315-.618-.397-1.19-.388-1.977v-.123c0-1.648.812-2.646 2.161-2.646 1.35 0 2.16.998 2.16 2.646 0 1.037-.233 1.974-.987 2.79-.34.368-.538.74-.54 1.209a1.65 1.65 0 0 0 .904 1.476c1.869.952 2.601 1.693 2.634 3.25.009.405.022.767.049 1.366.109 2.45.06 3.222-.338 3.904-.474.809-1.603 1.24-3.89 1.263-1.194.012-1.64-.018-2.362-.184a.75.75 0 1 0-.335 1.462c.86.198 1.41.235 2.713.222 2.758-.028 4.371-.643 5.168-2.006.611-1.043.666-1.932.543-4.727-.027-.589-.04-.941-.048-1.331-.048-2.273-1.14-3.377-3.454-4.556a.15.15 0 0 1-.083-.135c0-.016.032-.077.141-.196.61-.66.996-1.43 1.204-2.265.14-.558.182-1.028.182-1.542 0-2.416-1.407-4.146-3.661-4.146s-3.66 1.73-3.66 4.146l-.001.108c-.01 1.01.1 1.788.55 2.673.188.368.425.712.716 1.027.108.117.14.178.14.196a.15.15 0 0 1-.082.134c-2.343 1.192-3.429 2.289-3.442 4.567-.003.585.044 1.026.177 1.897l.054.357c.13.89.146 1.448.023 2.09-.298 1.564-1.513 2.21-3.692 2.21-3.422 0-4.397-.282-5.337-1.549-.86-1.159-.578-5.29.309-6.907.26-.475.566-.811 1.067-1.195.291-.223 1.9-1.297 2.423-1.673.446-.321.71-.839.709-1.388l-.001-.15a1.755 1.755 0 0 0-.649-1.34C6.01 7.628 5.537 6.17 5.537 4.721c0-1.928 1.107-3.13 2.646-3.13s2.646 1.202 2.646 3.13c0 1.465-.458 2.913-1.144 3.481-.415.344-.65.836-.65 1.404a1.698 1.698 0 0 0 .922 1.519c.408.208.57.29.791.407a.75.75 0 1 0 .7-1.327c-.23-.12-.396-.206-.808-.416a.198.198 0 0 1-.106-.177c0-.123.034-.193.108-.254 1.1-.911 1.687-2.77 1.687-4.637 0-2.73-1.75-4.63-4.146-4.63s-4.146 1.9-4.146 4.63c0 1.85.606 3.724 1.71 4.637.07.059.106.13.106.193v.15a.204.204 0 0 1-.084.163c-.487.35-2.12 1.441-2.459 1.7z" fill-rule="evenodd"></path>
                          </svg>
                        </span>
                      </span>
                      <span class="copy_14aozyc">
                        <span>
                          <span>1 guest</span>
                        </span>
                      </span>
                    </button>

                  </div>
                  <div class="focusUnderline_tue2mi"></div>
                </div>

              </div>
            </form>
          </div>
        </div><!-- react-empty: 95 --><!-- react-empty: 96 --><!-- react-empty: 97 -->
      </div>
    </div>
    <div class="verticalNavWrapper_1v16jc1">
      <div>
        <div role="tablist" class="tabs_1xal37k-o_O-tabs_micro_1azbnww">
          <div class="container_e296pg">
            <div class="containerWrapper_ctz3yu-o_O-containerWrapper_hideHorizontalScrollbar_1qowuqe">
              <div class="containerOuter_1miw6zj-o_O-containerOuter_hideHorizontalScrollbar_1qowuqe" style="margin-bottom: -13px;">
                <div class="containerInner_1vaxtub-o_O-containerInner_scrollable_13e0ya6-o_O-containerInner_hideHorizontalScrollbar_vtjunk" style="margin-bottom: -13px; padding-bottom: 13px;">
                  <a href="/s/all" class="text_x6m9oi-o_O-tab_111ryrk-o_O-tab_micro_1cg4oha-o_O-text_spacedTabs_1srdsad-o_O-tab_selected_cwuxid" role="tab" aria-selected="true" aria-busy="false">
                    <span>FOR YOU</span>
                  </a>
                  <a href="/s/homes" class="text_x6m9oi-o_O-tab_111ryrk-o_O-tab_micro_1cg4oha-o_O-text_spacedTabs_1srdsad" role="tab" aria-selected="false" aria-busy="false">
                    <span>HOMES</span>
                  </a>
                  <a href="/s/experiences" class="text_x6m9oi-o_O-tab_111ryrk-o_O-tab_micro_1cg4oha-o_O-text_spacedTabs_1srdsad" role="tab" aria-selected="false" aria-busy="false">
                    <span>EXPERIENCES</span>
                  </a>
                  <a href="/s/places" class="text_x6m9oi-o_O-tab_111ryrk-o_O-tab_micro_1cg4oha-o_O-text_spacedTabs_1srdsad" role="tab" aria-selected="false" aria-busy="false">
                    <span>PLACES</span>
                  </a>
                </div>
              </div>
            </div>
            <div>
              <button type="button" class="button_1t23k3h-o_O-button_backwards_d48umq-o_O-button_transition_10aqeuh" aria-hidden="true" style="opacity: 0; visibility: hidden;">
                <div class="iconContainer_769vv0-o_O-iconContainer_backwards_w1faho">
                  <div class="icon_qplzdw">
                    <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="display: block; fill: currentcolor; height: 14px; width: 14px;">
                      <path fill-rule="evenodd" d="M13.703 16.293a1 1 0 1 1-1.415 1.414l-7.995-8a1 1 0 0 1 0-1.414l7.995-8a1 1 0 1 1 1.415 1.414L6.413 9l7.29 7.293z"></path>
                    </svg>
                  </div>
                </div>
                <div class="gradient_3cikar-o_O-gradient_backwards_hbkrlm"></div>
              </button>
              <button type="button" class="button_1t23k3h-o_O-button_forwards_fn4ull-o_O-button_transition_10aqeuh" aria-hidden="true" style="opacity: 0; visibility: hidden;">
                <div class="gradient_3cikar-o_O-gradient_forwards_17ipsx"></div>
                <div class="iconContainer_769vv0-o_O-iconContainer_forwards_1sqnphj">
                  <div class="icon_qplzdw">
                    <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="display: block; fill: currentcolor; height: 14px; width: 14px;">
                      <path fill-rule="evenodd" d="M4.293 1.707A1 1 0 1 1 5.708.293l7.995 8a1 1 0 0 1 0 1.414l-7.995 8a1 1 0 1 1-1.415-1.414L11.583 9l-7.29-7.293z">
                      </path>
                    </svg>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>