/*Listing#show*/

photos_jx8qn9-o_O-withModal_13xlah4 {
    position: relative ;
    width: 100% ;
    background-color: #f5f5f5 ;
    cursor: pointer ;
}
.hide {
    display: none ;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100%;
        border-image-width: 1;
        border-image-outset: 0;
        border-image-repeat: stretch stretch;
            border-radius: 5%;
        // border-top-left-radius: 100%;
        // border-top-right-radius: 100%;
        // border-bottom-right-radius: 100%;
        // border-bottom-left-radius: 100%;
}

.img-responsive-height {
    width: auto;
    height: 100%;
}
.coverImage_75zala {
    background-repeat: no-repeat ;
    background-size: cover ;
    background-position: 50% 50% ;
        background-position-x: 50%;
        background-position-y: 50%;
    height: 320px ;
}
.viewPhotos_bwd0sy {
    bottom: 20px ;
    left: 20px ;
position: absolute ;
right: 20px ;
}
.btn {
    border-color: #c4c4c4;
        border-top-color: rgb(196, 196, 196);
        border-right-color: rgb(196, 196, 196);
        border-bottom-color: rgb(196, 196, 196);
        border-left-color: rgb(196, 196, 196);
    background: white;
        background-color: white;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
    color: #484848;
padding: 7px 21px;
    padding-top: 7px;
    padding-right: 21px;
    padding-bottom: 7px;
    padding-left: 21px;
font-size: 14px;
display: inline-block;
margin-bottom: 0;
border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
border: 1px solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image-source: none;
border-image-slice: 100%;
border-image-width: 1;
border-image-outset: 0;
border-image-repeat: stretch stretch;
text-align: center;
vertical-align: middle;
font-weight: bold;
line-height: 1.43;
-moz-user-select: none;
    white-space: nowrap;
    cursor: pointer;
}

.room__dls.room__dls--fontSize19 {
    font-size: 19px ;
    letter-spacing: 0 ;
    line-height: 24px ;
    margin-left: auto !important;
margin-right: auto !important;
}

.room__dls {
    color: #484848 ;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
font-weight: 300 ;
}
.container_p37oqd-o_O-container_staticWidth_mfbig2 {
    max-width: 1080px ;
padding-right: 24px ;
padding-left: 24px ;
margin-left: auto ;
margin-right: auto ;
width: auto ;
}
.row_2h22gn {
    margin-left: -8px ;
    margin-right: -8px ;
}
.row_2h22gn::before {
    content: " " ;
    display: table ;
}
.column_1rnz84d-o_O-column-lg-8_1gc3mvd {
    width: 66.66666666666666% ;
    float: left ;
padding-left: 8px ;
padding-right: 8px ;
min-height: 1px ;
position: relative ;
}
.row {
    margin-left: -12px;
    margin-right: -12px;
}
.row::before, .row::after {
    content: " ";
    display: table;
}
.col-sm-12 {
    width: 100%;
    float: left;
}
.innerContainer_1yboa9e {
    border-bottom: 1px solid #DBDBDB ;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(219, 219, 219);
    height: 51px ;
}
.container_e296pg {
    position: relative ;
}
nav{
	display:block;
}
.text_5mbkop-o_O-size_small_1gg2mc-o_O-weight_bold_153t78d-o_O-inline_g86r3e {
    font-weight: 700 ;
    color: #484848 ;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
    margin: 0px ;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    word-wrap: break-word ;
        overflow-wrap: break-word;
    font-size: 15px ;
    line-height: 18px ;
    letter-spacing: 0.2px ;
    padding-top: 0px ;
    padding-bottom: 0px ;
    display: inline ;
}
.anchor_18fdjt5 {
    display: inline-block ;
    padding: 16px 0 16px 0 ;
        padding-top: 16px;
        padding-right: 0px;
        padding-bottom: 16px;
        padding-left: 0px;
}
.component_9w5i1l-o_O-navigation_3mnosr {
    color: #484848 ;
font: inherit ;
font-style: inherit;
font-weight: inherit;
font-size: inherit;
line-height: inherit;
font-size-adjust: inherit;
font-stretch: inherit;
-x-system-font: none;
font-feature-settings: inherit;
font-language-override: inherit;
font-kerning: inherit;
font-variant-alternates: inherit;
    font-variant-caps: inherit;
    font-variant-east-asian: inherit;
    font-variant-ligatures: inherit;
    font-variant-numeric: inherit;
    font-variant-position: inherit;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
    text-decoration: none ;
        text-decoration-color: currentcolor;
        text-decoration-line: none;
        text-decoration-style: solid;
    background: transparent;
        background-color: transparent;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
}
.text_5mbkop-o_O-size_small_1gg2mc-o_O-inline_g86r3e {
    font-weight: normal ;
    color: #484848 ;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
    margin: 0px ;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    word-wrap: break-word ;
        overflow-wrap: break-word;
    font-size: 15px ;
    line-height: 18px ;
    letter-spacing: 0.2px ;
    padding-top: 0px ;
    padding-bottom: 0px ;
    display: inline ;
}
.dot_t5g4kn {
    margin: 0 4px 0 4px ;
        margin-top: 0px;
        margin-right: 4px;
        margin-bottom: 0px;
        margin-left: 4px;
}
.anchor_18fdjt5 {
    display: inline-block ;
    padding: 16px 0 16px 0 ;
        padding-top: 16px;
        padding-right: 0px;
        padding-bottom: 16px;
        padding-left: 0px;
}
.component_9w5i1l {
    color: #008489 ;
    font: inherit ;
font-style: inherit;
font-weight: inherit;
font-size: inherit;
line-height: inherit;
font-size-adjust: inherit;
font-stretch: inherit;
-x-system-font: none;
font-feature-settings: inherit;
font-language-override: inherit;
font-kerning: inherit;
font-variant-alternates: inherit;
font-variant-caps: inherit;
font-variant-east-asian: inherit;
font-variant-ligatures: inherit;
font-variant-numeric: inherit;
        font-variant-position: inherit;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
    text-decoration: none ;
        text-decoration-color: currentcolor;
        text-decoration-line: none;
        text-decoration-style: solid;
}
.button_1t23k3h-o_O-button_backwards_d48umq-o_O-button_transition_10aqeuh {
    background: transparent ;
        background-color: transparent;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
    border: 0px ;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100%;
        border-image-width: 1;
        border-image-outset: 0;
        border-image-repeat: stretch stretch;
    cursor: pointer ;
    height: 100% ;
    padding: 0px ;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    position: absolute ;
    top: 0px ;
    left: 0px ;
}
.iconContainer_769vv0-o_O-iconContainer_backwards_w1faho {
    background-color: #ffffff ;
    display: inline-block ;
    height: 100% ;
    position: relative ;
    vertical-align: top ;
    padding-right: 4px ;
}
.icon_qplzdw {
    color: #484848 ;
    position: relative ;
    top: 50% ;
    transform: translateY(-50%) ;
}
.gradient_3cikar-o_O-gradient_backwards_hbkrlm {
    display: inline-block ;
    height: 100% ;
    vertical-align: top ;
    width: 20px ;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff) ;
        background-color: rgba(0, 0, 0, 0);
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
}
.button_1t23k3h-o_O-button_forwards_fn4ull-o_O-button_transition_10aqeuh {
    background: transparent ;
        background-color: transparent;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
    border: 0px ;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100%;
        border-image-width: 1;
        border-image-outset: 0;
        border-image-repeat: stretch stretch;
    cursor: pointer ;
    height: 100% ;
    padding: 0px ;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    position: absolute ;
    top: 0px ;
    right: 0px ;
    transition: opacity 300ms ease-out 0ms, visibility 300ms linear 0ms ;
        transition-property: opacity, visibility;
        transition-duration: 300ms, 300ms;
        transition-timing-function: ease-out, linear;
        transition-delay: 0ms, 0ms;
}
.gradient_3cikar-o_O-gradient_forwards_17ipsx {
    display: inline-block ;
    height: 100% ;
    vertical-align: top ;
    width: 20px ;
background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff) ;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
        background-size: auto auto;
}
.iconContainer_769vv0-o_O-iconContainer_forwards_1sqnphj {
    background-color: #ffffff ;
    display: inline-block ;
    height: 100% ;
    position: relative ;
    vertical-align: top ;
    padding-left: 4px ;
}
.row {
    margin-left: -12px;
    margin-right: -12px;
}
.room__dls .section-container {
    margin-bottom: 24px ;
    margin-top: 24px ;
}
.room__dls .summary-container {
    margin-bottom: 9px;
    margin-top: 0;
    position: relative;
}
.col-md-10 {
    width: 83.33333%;
    float: left;
}
.room__dls .summary-title-bottom-spacing {
    margin-bottom: 6px;
}
.room__dls .title-2 {
    font-size: 36px ;
    font-weight: 700 ;
    letter-spacing: -0.6px ;
    line-height: 44px ;
    padding-bottom: 6px ;
    padding-top: 6px ;
    word-wrap: break-word ;
        overflow-wrap: break-word;
}
.text-muted {
    color: #767676;
}
.link-reset {
    color: inherit;
    text-decoration: none;
        text-decoration-color: currentcolor;
        text-decoration-line: none;
        text-decoration-style: solid;
    background: transparent;
        background-color: transparent;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
}
.show-inline-block {
    display: inline-block ;
}
.star-rating {
    display: inline-block;
    position: relative;
}
.star_1c8pmxm-o_O-star_colorBabu_185kh56-o_O-star_sizeSmall_efbia6 {
    display: inline-block ;
    color: #008489 ;
    font-size: 12px ;
    height: 12px ;
    margin-right: 3px ;
    width: 12px ;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.1;
    text-rendering: optimizelegibility;
}
h6, .h6 {
    font-size: 14px;
    font-weight: bold;
    color: #767676;
    line-height: 1.1;
    text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    color: #767676;
}
small {
    font-size: 0.85em;
}
.text_5mbkop-o_O-size_reduced_1oti1ib-o_O-weight_light_1nmzz2x-o_O-color_muted_10k87om-o_O-inline_g86r3e {
    font-weight: 300 ;
    color: #767676 ;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
margin: 0px ;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
word-wrap: break-word ;
    overflow-wrap: break-word;
font-size: 17px ;
line-height: 22px ;
letter-spacing: 0.2px ;
display: inline ;
}

.rule_76irmj {
    border-bottom: 1px solid #DBDBDB !important;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(219, 219, 219);
}
.row_2h22gn {
    margin-left: -8px !important;
    margin-right: -8px !important;
}
.column_1rnz84d-o_O-column-sm-3_1c7jm1s {
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
    width: 25% !important;
    float: left !important;
}
.room__dls .icon-size {
    font-size: 1.8em !important;
}

.room__dls .text-small {
    font-size: 15px !important;
    line-height: 18px !important;
}

.the_descriptions {
    margin-left: -8px !important;
    margin-right: -8px !important;
    font-size: 19px !important;
letter-spacing: 0 !important;
line-height: 24px !important;
color: #484848 !important;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
display:table;
}

/*.............................................................*/

/*Listing#index*/


.listing_index_html {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
}

.listing_index_body {
  padding: 0;
  margin: 0;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.175),
      rgba(0, 0, 0, 0.175)
    ),
  asset_url("home-background6.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;


/*---gallery-prices---*/

.prices{
	width: 953px;
	height: 330px;
	margin-top: 170px;
}
	.prices h3{
		font-weight: 100;
		font-size: 25px;
		color: #484848;
		margin-left: 5px;
	}
	.img{
		display: inline-block;
		margin: 30px 5px 0 5px;
	}
	.img:last-child {
		margin-right: 0;
	}
	.img img{
		width: 301px;
		height: 206px;
	}
	.price-stamp{
		margin: -200px 0 0 12px;
		color: #fff;
		font-weight: 900;
		font-size: 22px;
		text-shadow: 0 0 6px #615e61;
	}
	.description{
		margin: 180px 0 0 0;
		font-size: 14px;
		color: #484848;
	}

/*---line---*/

hr{
    border: 0;
    height: 1px;
    background: #DCE0E0;
		margin-bottom: 55px;
}

/*---gallery-places---*/

	.gallery-places h3{
		font-weight: 100;
		font-size: 25px;
		color: #484848;
		margin: 0 0 35px 5px;
	}
	.places{
		height: 680px;
		list-style-type: none;
    padding: 0;
    margin: 0;
		display: block;
	}
	.img-large{
		width: 460px;
		height: 310px;
		float: left;
		margin: 0 5px 10px 5px;
	}
	.img-large img{
		width: 460px;
		height: 310px;
		display: block;
	}
	.img-short{
		width: 225px;
		height: 150px;
		float: left;
		margin: 0 5px 10px 5px;
	}
	.img-short:last-child{
		margin-top: -160px;
	}
	.img-short img{
		width: 225px;
		height: 150px;
		display: block;
	}
	.place-names{
		margin: -30px 0 0 20px;
		color: #fff;
		font-size: 18px;
	}




/*---gallery-guidebooks---*/

.guidebooks{
	display: block;
}

.guidebooks h3{
	font-weight: 100;
	font-size: 25px;
	color: #484848;
	margin-left: 5px;
}
.img-box{
	float: left;
	width: 305px;
	height: 205px;
	margin: 40px 5px 0 5px;
}
.img-box:last-child{
	margin-right: 0;
}
.img-box h4{
	font-size: 14px;
	color: #484848;
	float: left;
	margin: 5px 5px 0 0;
}
.img-box h4 spam{
	margin-left: -1px;
}
.img-box p{
	font-size: 14px;
	color: #484848;
	margin-top: 5px;
	float: left;
}
.img-big {
	float: left;
	margin-top: 3px;
	width: 200px;
  height: 163px;
}
.img-small {
	float: right;
	width: 100px;
	height: 80px;
	margin-top: 3px;
}




  /*----------------
---Main Content---
----------------*/

.site-content{
	margin: 130px auto;
	width: 940px;
	height: 1500px;
	font-family: Circular,Helvetica,Arial,sans-serif;

}

/*---title---*/

	.title{
		font-size: 46px;
		font-weight: 100;
		color: #484848;
		margin-bottom: 60px;
	}
	.title span{
		font-weight: 800;
		color: #FF5A5F;
	}

/*---search-row---*/

	.search-input{
		padding: 10px;
		float: left;
		width: 330px;
		height: 42px;
		border: 1px solid #757575;
		border-right-color: transparent;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		font-size: 16px;
	}
	.checks-input{
		float: left;
		width: 352px;
		height: 42px;
		border: 1px solid #757575;
		border-right-color: transparent;
	}
		.check-in {
			padding: 2px;
			margin: 5px;
			float: left;
			width: 153px;
			height: 30px;
			border-color: transparent;
		  font-size: 16px;
      text-align: center;
		}
    .check-in3 {
			padding: 2px;
			margin: 5px;
			float: left;
			width: 153px;
			height: 30px;
			border-color: transparent;
		  font-size: 16px;
		}
		.check-in:focus{
			outline: none;
			background-color: #99EDE6;
			border-radius: 4px;
		}
		.check-in:hover{
			cursor: pointer;
		}
		.check-in1{
      padding: 2px;
			margin: 5px;
			float: right;
			width: 153px;
			height: 30px;
			border-color: transparent;
		  font-size: 16px;
      text-align: center;
		}
		.check-out:focus{
			outline: none;
			background-color: #99EDE6;
			border-radius: 4px;
		}
		.check-out:hover{
			cursor: pointer;
		}
		.right-arrow{
			fill: currentColor;
			color: #757575;
			margin-top: 7px;
		}
	.guests{
		float: left;
		width: 130px;
		height: 42px;
		border: 1px solid #757575;
		border-right-color: transparent;
		background-color: #fff;
		font-size: 16px;
		padding: 10px;
	}
	.search-btn{
		float: left;
		width: 100px;
		height: 42px;
		border: 1px solid #FF5A5F;
		margin: 0 0 3px 0;
		background-color: #FF5A5F;
		color: #fff;
		font-weight: bold;
		font-size: 14px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.search-btn:hover{
		background-color: #FF7E82;
		cursor: pointer;
	}





/*---search-bar---*/

.search-bar {
  width: 817px;
  height: 61px;
  border: 1px solid #DCE0E0;
  padding: 19px 18px;
  float: left;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top: none;
}
  .search-icon {
    width: 26px;
    height: 26px;
    margin-right: 15px;
    float: left;
    fill: currentColor;
    color: #D3D5D3;
  }
  .search-form input{
    width: 730px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    padding: 2px;
    margin-top: 3px;
    border: transparent;
  }
  .search-form input:focus {
    outline: none;
  }




    .searchbar_place {
      width: 20%;
      margin: 10px 5px;
      box-sizing: border-box;
    }

    label, input {
      vertical-align: baseline;
      color: #737373;
    }
    label {
      margin: 0.125em 0.125em 0 0;
      float: right;

    }
    input[type="search"] {
      border: 2px solid #737373;
      border-width: 0 0 3px;
      background-color: transparent;
      font: 22px "Open Sans", sans-serif;
      padding: 0.125em 0.225em;
      width: 85%;
      float: left;

    }
    input[type="search"]:focus {
      color: #E18728;
      border-color: #E18728;
      outline: none;
    }

}

.profile_bar{
  * {
	margin:0px;
	padding:0px;
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing: border-box; }

.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }




	font-weight: normal;
	font-size: 1em;
	font-family: 'Roboto', Arial, sans-serif;
}

input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}

.grid .col2 {
	width: 50%;
	padding: 0 10px 0 0;
}
.grid .col2.first {
	float: left;
}
.grid .col2.last {
	float: right;
}

.grid .col3 {
	width: 32%;
	float: left;
	margin-right: 11px;
}
.grid .col3.first {
	margin-left: 0;
	float: left;
}
.grid .col3.last {
	margin-right: 0;
	float: right;
}

/* profile page */
.container {
    padding: 60px 50px 70px;
}

.innerwrap {
    width: 1200px;
    margin: 0 auto;
}

.section1 {
	background: #fff;
	position: relative;
	border-radius: 2px;
}
.section1 div .row:first-child {
	padding: 25px;
}


.section1 .col2.first img {
	border-radius: 50%;
	margin: 0 20px;
	width: 120px;
	border:2px solid #f1f1f1;
	padding: 2px;
	float: left;
}
.section1 .col2.first {
	line-height: 25px;
	position: relative;
	border-right:1px solid #a2a2a2;
}
.section1 .col2.first h1 {
    font-weight: normal;
    margin-bottom: 10px;
	margin-top: 15px;
	text-transform: capitalize;
}
.section1 .col2.first p {
	font-size: 14px;
}
.section1 .col2.first span {
	position: absolute;
    right: 15px;
    top: 16px;
    background: #6AAFEA;
    padding: 5px 11px;
    font-size: 12px;
    line-height: 1;
    border-radius: 2px;
    color: #fff;
  cursor:pointer;
}

.section1 .col2.last {
	padding: 8px 0;
}
.section1 .col2.last .col3 span {
    color: #a2a2a2;
    font-size: 14px;
}
.section1 .col2.last .col3 h1 {
    color: #FB4C22;
}

.section1 .col2.last .col3 {
    text-align: center;
    line-height: 30px;
    border-right: 1px solid #ccc;
}
.section1 .col2.last .col3.last {
	border-right: 0;
}

.row2tab li {
    list-style: none;
    float: left;
    width: 25%;
    padding: 15px;
    font-size: 14px;
    text-align: center;
    cursor:pointer;
    background: #f1f1f1;
    color: #555;
    border-bottom: 2px solid #f1f1f1;
}
.row2tab li:first-child {
    border-bottom: 2px solid #6AAFEA;
    border-radius: 0 0 2px 2px;
}
.row2tab li:first-child {
	color:  #6AAFEA;
}
.row2tab li i {
        margin-right: 3px;
    font-size: 14px;
}

.smalltri {
	    border-right: 40px solid #6AAFEA;
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-top: 10px solid #6AAFEA;
    border-bottom: 20px solid transparent;
    padding: 0px;
    top: 0;
    right: 0;
    position: absolute;
}
.smalltri i {
    position: absolute;
    top: -5px;
    right: -33px;
    color: #fff;
    border: 0px;
    font-size: 12px;
}

section.section2 {
    margin: 50px 0;
}

.section2 .col3 {
	width: 30%;
	margin-right: 60px;
	background: #fff;
	border-radius: 2px;
}

.section2 .postcont img {

	width: 100%;
}
.section2 .profileinfo {
    text-align: center;
    padding: 0 10px 30px;
    color: #555;
    font-size: 14px;
    line-height: 25px;
}
.section2 .profileinfo img {
    border-radius: 50%;
    width: 80px;
    padding: 2px;
    border: 3px solid #6AAFEA;
    margin-top: -48px;
    margin-bottom: 18px;
}
.section2 .col3.center .profileinfo img {
    border: 3px solid #FB4C22;

}
.section2 .profileinfo p {
	text-align: justify;
}
.section2 .profileinfo span {
	margin-top: 15px;
    display: block;
    text-align: left;
    color: #6AAFEA;
    cursor: pointer;
}
.section2 .profileinfo span i {
	margin-left: 10px;
}

@media only screen and (max-width: 1300px) {
	.innerwrap {
		width: 90%;
	}
	.section2 .col3 {
		margin-right: 5%;
	}
	.section1 .grid .col3 {
		margin-right: 2%;
	}
	.section1 .col2.last .col3.last {
		margin-right: 0;
	}
}

@media only screen and (max-width: 1060px) {
	.section1 .col2 {
		width: 100%;
		border-right:0 !important;
		padding: 0;
	}
}

@media only screen and (max-width: 660px) {
	.section2 .col3 {
		width: 100%;
		float: none !important;
		margin-bottom: 10px;
	}
	.row2tab li {
		width: 50%;
		text-align: left;
	}
	.section1 .col2.first {
		text-align: center;
	}
	.section1 .col2.first img {
		display: inline-block;
		float: none;
	}
	.section1 .col2.first span {
		position: relative;
		right: 0;
	}
  .section1 .col2.last {
    margin-top:25px;
  }
}
@media only screen and (max-width: 450px) {
	.container {
    padding: 60px 5px 70px;
}
  .row2tab li {
		width: 100%;
		text-align: left;
	}
	.section1 .col2.last .col3 span {
		font-size: 10px;
	}
	.section1 .col2.last .col3 h1 {
		font-size: 18px;
	}


}

// TEST ...............................
.listing_index_body2 {
  padding: 0;
  margin: 0;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.175),
      rgba(0, 0, 0, 0.175)
    ),
  asset_url("kl-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;


  body > div {
		width: 500px;
		margin: 50px auto;
		text-align: center;
	}

	figure {
		margin: 0;
	}

	.container {
		width: 500px;
		height: 300px;
		text-align: left;
		margin: 60px auto;
		-webkit-perspective: 1000px;
		-webkit-perspective-origin: 50% -25%;
	}

		.carousel {
			-webkit-transform-style: preserve-3d;
			-webkit-transform: translateZ(-540px);
			position: relative;
			margin: 0;
			width: 500px;
			height: 300px;
			-webkit-transition: 1s;
		}

			.carousel img {
				position: absolute;
				// border: 15px solid rgba(0, 0, 0, .8);
				opacity: .4;
				-webkit-transition: 1s;
        width: 500px;
        height: 300px;
        background:#ccc;
			}


				.carousel img:nth-child(1) { -webkit-transform: translateZ(540px) scale(.8); }
				.carousel img:nth-child(2) { -webkit-transform: rotateY(45deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(3) { -webkit-transform: rotateY(90deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(4) { -webkit-transform: rotateY(135deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(5) { -webkit-transform: rotateY(180deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(6) { -webkit-transform: rotateY(225deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(7) { -webkit-transform: rotateY(270deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(8) { -webkit-transform: rotateY(315deg) translateZ(540px) scale(.8); }

	label {
		cursor: pointer;
		background: #eee;
		display: inline-block;
		border-radius: 50%;
		width: 30px;
		padding-top: 7px;
		height: 23px;
		font: .9em Arial;
	}

	label:hover {
		background: #ddd;
	}

	input {
		position: absolute;
		left: -9999px;
	}

	input:checked + label {
		font-weight: bold;
		background: #ddd;
	}

		input[value="1"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px); }
		input[value="2"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-45deg); }
		input[value="3"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-90deg); }
		input[value="4"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-135deg); }
		input[value="5"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-180deg); }
		input[value="6"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-225deg); }
		input[value="7"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-270deg); }
		input[value="8"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-315deg); }

		input[value="1"]:checked ~ .container .carousel img:nth-child(1) { -webkit-transform: translateZ(540px) scale(1); opacity: 1; }
		input[value="2"]:checked ~ .container .carousel img:nth-child(2) { -webkit-transform: rotateY(45deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="3"]:checked ~ .container .carousel img:nth-child(3) { -webkit-transform: rotateY(90deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="4"]:checked ~ .container .carousel img:nth-child(4) { -webkit-transform: rotateY(135deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="5"]:checked ~ .container .carousel img:nth-child(5) { -webkit-transform: rotateY(180deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="6"]:checked ~ .container .carousel img:nth-child(6) { -webkit-transform: rotateY(225deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="7"]:checked ~ .container .carousel img:nth-child(7) { -webkit-transform: rotateY(270deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="8"]:checked ~ .container .carousel img:nth-child(8) { -webkit-transform: rotateY(315deg) translateZ(540px) scale(1); opacity: 1; }
}
